<div class="row">
    <div class="col-md-4 mx-auto">
        <div class="card">
            <div class="card-header">
                Sign Up
            </div>
            <div class="card-body">
                <form (submit)="signUp()">
                    <!-- <div class="form-group">
                        <input type="text" name="email" class="form-control" placeholder="Email" required autofocus>
                    </div>
                    <div class="form-group">
                        <input type="text" name="password" class="form-control" placeholder="Password" required>
                    </div>
                    <button type="submit" class="btn btn-primary btn-block">
                        Sign Up
                    </button> -->
                    <label for="email" class="form-label">Email address</label>
                    <input type="email" class="form-control" [(ngModel)]="user.email" id="email" placeholder="Email" name="email" required autofocus>                                      
                    <br>
                    <label for="password" class="form-label">Password</label>
                    <input type="password" class="form-control" [(ngModel)]="user.password" id="password" placeholder="Password" name="password" required autofocus>                                      
                    <hr>
                    <div class="d-flex justify-content-end">
                        <button class="btn btn-primary" type="submit">Sign Up</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>